plugins {
    id "nf-aspera@0.0.1"
}

aspera{
    clients {
        asperasoft {
            remote_host = 'demo.asperasoft.com'
            ssh_port = 33001
            remote_user= "aspera"
            remote_password= "demoaspera"
        }

        ncbi {
            remote_host = 'ftp.ncbi.nlm.nih.gov'
            ssh_port = 22
            remote_user = "anonftp"
            ssh_private_key_path = "ncbi/aspera_tokenauth_id_rsa"
            ssh_private_key_passphrase = "743128bf-3bf3-45b5-ab14-4602c67f2950"
            cipher = "none"
        }
    }
}